#indice{
	font-family: sans-serif;
	padding: .5%;
	border: outset 5px #999;
}
#indice_summary{
	font-style: italic; 
	font-weight: bold;
	font-size: 150%;
}

#titularh1{
	margin-left: 1rem;
	font-size: 1.8rem;
}

.contenidos{
	display: none;
}
#indice:hover .contenidos{
	display: block;
}

#indice{
	position: fixed;
	top: 50px;
	z-index: 10;
	background-color: #FFF9DC;
}

.contenidos ul{
	list-style-type: none;
	font-size: 1.7rem;
	line-height: 2.8rem;
}

/*Estilos distintos para las distintas jerarquías de listas*/
.sublista0  {
	text-decoration: none;
	color: #000000;
	/*line-height: 160%;*/
}
/*.sublista1 a {
	font-size: 120%;
}*/


/*Submenús escondidos*/
.contenidos ul li ul {
	display: none;
}
.contenidos ul li:hover ul {
	display: block;
}

/* Icono de salida*/
#salida{
	position: fixed;
	display: inline-block;
	top: 10px;
	left: 10px;
}
#salida_texto{
	vertical-align: middle;
	font-size: 120%;
	margin: 0.7rem;
}
.fa-arrow-alt-circle-left{
	display: inline-block;
	vertical-align: middle;
}
